/* body{
    padding: 0px;
    margin: 0px;
    background-image: url(../../../public/image/grocery.jpg);
    background-repeat: no-repeat;
  
} */
.form-makeup{
    /* padding: 50px; */
    /* height: 750px; */
    background-size: cover;
    background-image: url(../../../public/image/grocery.jpg);
    background-repeat: no-repeat;
   
}
.signup-form{
    height: 650px;
    
    /* width: 600px; */
    background-color: rgb(219, 247, 235);
    margin:auto;
    padding: 50px;
    width: 40%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.signup-form h2{
    color:rgb(72, 203, 15);
    font-weight: bold;
}
.form-group{
    align-items: left;
    text-align: left;
    /* width: 500px; */
    color:rgb(61, 109, 59);
    font-size: large;
    font-weight: bold;
    /* margin: auto; */
   
}

.form-group input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
 
}
.signup-form button{
    margin: 20px;
    background-color: rgb(72, 203, 15);
    color:white;
    border-radius: 5px;
    width: 80px;
    border:none;
}
.signup-form button:hover{
    background-color: rgb(61, 109, 59);
    color: white;
}
@media (min-width:768px) and (max-width: 992px){
    .signup-form{
        width: 60% !important
    }
}
@media (min-width: 576px) and (max-width:768px){
    .signup-form{
        width: 80% !important
       
    }
    
}
@media (max-width : 576px){
    .signup-form{
        width: 100% !important
    }
}